.container {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

label {
  display: inline-block;
  min-width: 130px;
}

p-select {
  min-width: 130px;
}

.field {
  margin-bottom: 10px;
}

:host ::ng-deep .p-card-body {
  align-items: center;
}

p-card {
  width: 600px;
  h2 {
    text-align: center;
  }
}

.form-actions {
  text-align: center;
}

:host ::ng-deep .p-inputtext[readonly],
:host ::ng-deep input[readonly].p-inputtext {
  background-color: #e2e8f0 !important;
  color: #64748b !important;
  cursor: not-allowed !important;
}
